.main-home {
  background-color: var(--light-blue);
  padding: 68px 0 204px;
}

.main-home__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.stats_preview {
  margin: 80px 24px 75px 26px;
}
