/* Стилизация кнопки */
.btn {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  height: 48px;
  padding: 15px 15px 14px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  color: var(--white);
}

.btn:disabled {
  opacity: 0.5;
  cursor: default;
  pointer-events: none;
}

.btn_primary {
  background-color: var(--blue);
  transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
}

.btn_primary:hover {
  background-color: var(--primary-hover);
}

.btn_secondary {
  background-color: var(--purple);
  transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
}

.btn_secondary:hover {
  background-color: var(--secondary-hover);
}

.btn_alternate {
  color: var(--grey-4);
  background-color: var(--white);
  border: 1px solid var(--grey-3);
}

.btn_alternate:hover {
  border: 1px solid var(--black);
}
